apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: local-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: root
            - name: MYSQL_DATABASE
              value: wpdb
            - name: MYSQL_USER
              value: wp
            - name: MYSQL_PASSWORD
              value: wp123
          ports:
            - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: local-deploy
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
